/* This is for the sticky footer. */
html { position: relative; min-height: 100%; }

/*
	The margin at the bottom is for the sticky footer.
	I also like this font better than the default font.
*/
body {
	margin-bottom: 180px;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

/* I don't like the default blue outline on buttons or links when clicked. */
input[type=button]:focus, button[type=button]:focus, a:focus { outline: none; }

/*
	This section includes the modal for login styles.
	Most of this is obtained by the standards provided by Bootstrap, with some changes.
*/
.modal-header h4 { text-align: center; }
.form-login {
	max-width: 330px;
	margin: 0px auto;
	padding: 15px;
}
.form-login .form-control {
	position: relative;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

/* I don't like the default sizes for these semantic tags. */
h1 { font-size: 3em; }
h2 { font-size: 1.5em; }

/* 
	The page's content needs to be pushed away from the navigation bar.
	I also like centered text as a main theme.
*/
.content-wrapper { margin: 32px 0px; text-align: center; }

/* This section is for the custom footer CSS. */
.footer {
	position: absolute;
	bottom: 0px;
	padding: 8px 0px;
	height: 180px;
	width: 100%;
	text-align: center;
	background-color: #F0F0F0;
}
.footer i {
	margin: 16px 8px;
	font-size: 3em;
}
.footer p {
	margin-top: 8px;
}

#back-button { float: left; }

/* This panel class will contain most of our user data. */
.panel-group { padding-bottom: 32px; }
.panel {
	display: inline-block;
	height: 256px;
	width: 256px;
	margin: 16px;
	vertical-align: bottom;
	cursor: pointer;
}
/* The panel for comments is a little different. */
.comment {
	height: 128px;
	width: 100%;
	cursor: default;
}

/* For the smallest window size. */
@media (max-width: 767px) {
	/* On smaller windows, we want to take advantage of the entire width. */
	nav, .content-wrapper { width: 100%; }
}

/* For medium sized windows. */
@media (min-width: 768px) and (max-width: 1199px) {
	/* I like padding on the sides of my pages. */
	nav, .content-wrapper { width: 76%; margin-left: 12% }
}

/* For the largest sized windows. */
@media (min-width: 1200px) {
	/* I like padding on the sides of my pages. */
	nav, .content-wrapper { width: 70%; margin-left: 15%; }
}