/* I like this font better than the default font. */
body { font-family: Futura, 'Trebuchet MS', Arial, sans-serif; }

/* 
	The page's content needs to be pushed away from the navigation bar.
	I also like centered text as a main theme.
*/
.mdl-layout__content { margin: 32px 0px; text-align: center; }

/* This section is for the custom footer CSS. */
.footer {
	position: absolute;
	bottom: 0px;
	padding: 8px 0px;
	height: 180px;
	width: 100%;
	text-align: center;
	background-color: #F0F0F0;
}
.footer i {
	margin: 16px 8px;
	font-size: 3em;
}
.footer p {
	margin-top: 8px;
}

#back-button { float: left; }

/* This panel class will contain most of our user data. */
.panel-group { padding-bottom: 32px; }
.panel {
	display: inline-block;
	height: 256px;
	width: 256px;
	margin: 16px;
	vertical-align: bottom;
	cursor: pointer;
}
/* The panel for comments is a little different. */
.comment {
	height: 128px;
	width: 100%;
	cursor: default;
}

/* For the smallest window size. */
@media (max-width: 767px) {
	/* On smaller windows, we want to take advantage of the entire width. */
	.mdl-layout__content { width: 100%; }
}

/* For medium sized windows. */
@media (min-width: 768px) and (max-width: 1199px) {
	/* I like padding on the sides of my pages. */
	.mdl-layout__content { width: 76%; margin-left: 12% }
}

/* For the largest sized windows. */
@media (min-width: 1200px) {
	/* I like padding on the sides of my pages. */
	.mdl-layout__content { width: 70%; margin-left: 15%; }
}